# Copyright (c) 2025, Pablo Diz de la Cruz
# All rights reserved.
# Licensed under the BSD 3-Clause License. See LICENSE file in the project root for full license information.

client openwrt{
    ipaddr = ${RADIUS_CLIENT_IP} 
    proto = *
    secret = ${RADIUS_SECRET}
    require_message_authenticator = yes
    limit_proxy_state = yes
    shortname = openwrt
}

