{% extends 'base.html' %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Active Events</li>
</ul>
{% endblock %}

{% block content %}
<!-- <h1 class="event-title">Events</h1> -->
<div class="custom-container">
    {% for location in locations %}
      <div class="event-container hover-card">
        <a href="{% url 'wifi_location_details' location.location_uuid %}" class="text-decoration-none">
            <h2 class="event-title">{{ location.name }}</h2>
            <div class="event-details">

              <ul class="details-list">
                {% include 'getEAP_TLS/common/event_details_always_present.html' %}
              </ul>
            </div>  
          </div>
          <div class="submit-row text-center mb-4">
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}