{% extends 'base.html' %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'events' %}">Active Events</a></li>
    <li><a href="{% url 'wifi_location_details' location_uuid=event.location_uuid %}">{{ event.name }}</a></li>
    <li class="active">Registration</li>
</ul>
{% endblock %}
{% block content %}
<div class="event-container">
  <h1 class="event-title">{{ event.name }}</h1>
  <form method="post" enctype="multipart/form-data" class="my-form">
    {% csrf_token %}
    
    <div class="form-fields">
      {{ form.as_p }}
    </div>

    <div class="submit-row text-center">
      <button type="submit" class="my-button">Register</button>
    </div>
  </form>
</div>
{% endblock %}