<h1 class="event-title">{{ location.name }}</h1>
<div class="event-details">
    <ul class="details-list">
        {% include 'getEAP_TLS/common/event_details_always_present.html' %}

        {% if location.description %}
        <li>
            <div class="label-container">
                <span class="detail-icon">📝</span>
                <span class="detail-label">Description:</span>
            </div>
            <span class="detail-value">{{ location.description }}</span>
        </li>
        {% endif %}
    </ul>
</div>
