EMAIL_HOST_USER=user@domain.com
EMAIL_HOST_PASSWORD=the_email_password (in gmail, you must use an "Application password")
EMAIL_HOST=direction_of_smtp_server
DOMAIN=domain name or ip address (if the default http/s port is not used, include :port)
DEBUG=False
SSL=False